/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
/* Photon Colors SCSS Variables v3.0.1 */
#landing {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
}

#landing h1.megatext {
		font-family: 'Open Sans';
		font-size: 150px;
		color: #005a71;
}

#landing .presentation h3 {
		font-size: 40px;
		margin: 0;
}

#landing .presentation p {
		width: 500px;
		text-align: justify;
}

#landing > iframe {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		height: 100vh;
		width: 100vw;
		z-index: -10;
}

* {
		font-family: 'Open Sans', sans-serif;
		color: #202340;
}

*.article-body {
		font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
		font-family: 'Vollkorn', serif;
		color: #363959;
}

a {
		text-decoration: none;
		color: #0a84ff;
}

ul {
		list-style: none;
		padding: 0;
}

ul li a {
		color: #363959;
}

ul li ul {
		display: none;
}
